{% extends "base.html" %}
{% block title %}Verify Password Reset Code{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Verify Password Reset Code</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group {% if form.code.errors %}has-error{% endif %}">
            <label for="{{ form.code.id_for_label }}" class="form-label">Verification Code:</label>
            {{ form.code }}  <!-- Add Bootstrap class to input -->
            {% if form.code.errors %}
                <div class="error-message">{{ form.code.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <button type="submit">Verify Code</button>
        </div>
    </form>
</div>
{% endblock %}
